<!--------------------------------
Title: not-found.component.html
Author: Professor Krasso
Date: 09-03-2022
Modified By: Allan Trejo
Description: template for 404
Code Attribution: https://material.angular.io
                  https://angular.io

-------------------------------------->
<div class="container">
  <div class="not-found">
    <div class="fonts-headers">Whoops!</div>

    <img src="../../assets/firestorm.gif" alt="" class="responsive">
    <div class="fonts-headers">404 Page Not Found</div>
    <button routerLink="/" mat-raised-button color="primary" style="width: 300px;">Back</button>
  </div>

</div>
