/***************************************************
Title: auth-layout.component.css
Author: Professor Krasso
Date: 09-03-2022
Modified By: Allan Trejo
Description: auth layout styling
Code Attribution: https://material.angular.io
                  https://angular.io

***********************************************/
