<!--------------------------------
Title: home.component.html
Author: Professor Krasso
Date: 08-20-2022
Modified By: Allan Trejo
Description: Main Content template
Code Attribution: https://material.angular.io
                  https://angular.io

-------------------------------------->

<!-- Dialog Modal Layout -->
<!-- Single column -->
<div fxLayout="column">
  <!-- Card -->
  <mat-card class="mat-elevation-z0">
    <mat-card-title>Create a New Task</mat-card-title>
    <!-- Begin Form -->
    <form [formGroup]="taskForm" (ngSubmit)="passToParent();taskForm.reset()">
      <mat-form-field appearance="fill" style="width: 100% ; margin-top: 15px;">
        <mat-label>Enter Task</mat-label>
        <!-- Input and validation Errors -->
        <input matInput name="task" formControlName="task" placeholder="Enter a Task">
        <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">Task is a
          Required Field</mat-error>
        <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">The task
          field must be at least 3 characters in length</mat-error>
        <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">The task
          field can not be more than 35 characters</mat-error>
      </mat-form-field>
      <div fxLayout="row" style="padding-top:50px; float: right;">
        <!-- 2 button layout, cancel and submit -->
        <button mat-button (click)="closeDialog()" type="button" style="margin-right: 30px; color:red;">Cancel
          <mat-icon>
          </mat-icon></button>
        <button class="submit-button" mat-raised-button type="submit" [disabled]="!taskForm.valid">Add Task
          <mat-icon>
            add_circle</mat-icon>
        </button>
      </div>
    </form>
    <!-- End form -->
  </mat-card>
  <!-- End Card -->
</div>
