<!--------------------------------
Title: home.component.html
Author: Professor Krasso
Date: 08-20-2022
Modified By: Allan Trejo
Description: Main Content template
Code Attribution: https://material.angular.io
                  https://angular.io

-------------------------------------->
<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait
      until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>


<!-- Container -->
<div class="task-container">

  <div fxLayout="row" fxLayoutGap="25px">
    <!-- Col 1 -->
    <div fxFlex="30">
      <mat-card class="card-col mat-elevation-z0">
        <mat-card-title>ToDo</mat-card-title>
        <div fxLayout="row"> <button class="create-task-button mat-elevation-z3" mat-button
            (click)="openDialog()">Create New Task
            <mat-icon class="add-icon">add_circle</mat-icon>
          </button></div>

        <mat-card-content class="card-content">
          <div>
            <!-- For loop renders cards vertically -->
            <div *ngFor="let item of todo">
              <mat-card class="task-card">
                <mat-card-content>
                  <div fxLayout="row">
                    <div fxFlex>
                      {{ item.text }}
                    </div>
                    <div fxFlex fxLayoutAlign="end" style="margin-top: -10px;">
                      <button mat-icon-button (click)="deleteTask(item._id)">
                        <mat-icon color="warn">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- END Col 1 -->



    <!-- BEGIN col 2 -->
    <div fxFlex="30">
      <mat-card class="card-col mat-elevation-z0">
        <mat-card-title>Done</mat-card-title>
        <br> <br>
        <mat-card-content class="card-content">
          <!-- For loop renders cards vertically -->
          <div *ngFor="let item of done">
            <mat-card class="task-card">
              <mat-card-content>
                <div fxLayout="row">
                  <div fxFlex>
                    {{ item.text }}
                  </div>
                  <div fxFlex fxLayoutAlign="end" style="margin-top: -10px;">
                    <button mat-icon-button (click)="deleteTask(item._id)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- END col 2 -->

  </div>

</div>
