/***************************************************
Title: home.component.css
Author: Professor Krasso
Date: 08-20-2022
Modified By: Allan Trejo
Description: styling for Content Section
Code Attribution: https://material.angular.io
                  https://angular.io
                  https://rxjs.dev
***********************************************/
.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
.task-container {
  padding: 20px 50px;
  margin-bottom: 80px;
}
.card-col {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.card-content {
  text-align: left;
  margin-top: 15px;
}
.create-task-button {
  width: 90%;

  font-size: 0.8rem;
  padding: 3px 0;
  color: var(--gryffindor-yellow);
  background-color: var(--gryffindor-red);
  border: none;
}
.add-icon {
  font-size: 1.3rem;
  position: relative;
  right: 0px;
  padding: 3px;
  top: 0px;
}
.task-card {
  height: 40px;
  margin: 10px 0;
}
