/***************************************************
Title: base-layout.component.css
Author: Professor Krasso
Date: 08-20-2022
Modified By: Allan Trejo
Description: styles for base-layout.component.ts
Code Attribution: https://material.angular.io
                  https://angular.io
                  https://rxjs.dev
***********************************************/
.logo {
  font-size: 24px;
  font-weight: lighter;
}

.navbar-container {
  padding: 5px;
  color: var(--gryffindor-yellow);
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
  font-family: var(--metamorphoses-text);
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

.sidenav {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: var(--gryffindor-red);
}
.sidenav-content {
  min-height: 100vh;
}
