<!--------------------------------
Title: base-layout.component.html
Author: Professor Krasso
Date: 08-20-2022
Modified By: Allan Trejo
Description: template for application layout
Code Attribution: https://material.angular.io
                  https://angular.io

-------------------------------------->

<mat-sidenav-container class="sidenav-container">
  <!-- sideNavigation  -->

  <mat-sidenav #sidenav mode="side" opened class="sidenav mat-elevation-z20">

    <!-- navigation -->
    <div class="navbar-container">
      <nav fxLayout="column">
        <!-- logo -->
        <button routerLink="/" class="logo" mat-button>NodeBucket</button>
        <img src="../../../assets/crest2.png" alt="">
        <button routerLink="/" [routerLinkActive]="['active']" class="navbar-link" [routerLinkActiveOptions]="{exact:
          true}" mat-button>Home</button>

        <button routerLink="/about" [routerLinkActive]="['active']" class="navbar-link" mat-button>About</button>
        <button routerLink="/contact" [routerLinkActive]="['active']" class="navbar-link" mat-button>Contact</button>
      </nav>
    </div>
  </mat-sidenav>
  <!-- End Side Navigation -->

  <!-- Begin Main Content -->
  <mat-sidenav-content class="sidenav-content">
    <!-- Logout Button -->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile Menu">
        <mat-icon>perm_identity</mat-icon>Logged in {{sessionName}}!
      </button>
      <mat-menu #profileMenu>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>

          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
    <!-- End Logout Button -->
    <div fxLayout="column">
      <!-- main content -->
      <div fxFlex>
        <main class="main-content" fxFlex="100%;">
          <router-outlet></router-outlet>
        </main>
      </div>
      <!-- End Main Content -->
      <!-- footer -->
      <div fxFlex>
        <footer class="footer">
          <mat-toolbar class="footer-content">
            <p>
              &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link"
                target="_blank">Bellevue University</a>
            </p>
          </mat-toolbar>
        </footer>
      </div>
      <!-- END footer -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
